/* global */
html{
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.home{
    color: white;
    /* width: 70%; */

}

body, h1, h2, h3, h5, p, ol, ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body{
    background: #212529;
    height: 750px;
}

ol, ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;

}

.logo a{
    color: #2796e2;

}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/* global */

/* navbar area*/
body{
    font-family: "oswald", sans-serif;
    color: #26313c;
    line-height: 1.5;
}

ul{
    margin: 0;
    padding: 0;
}

.header .sticky{
    width: 100%;

    position: flex;
    background-color: #212529;
    box-shadow: 0 10px 10px -10px pgba(0,0,0,0.35);
}

.header{
    position: fixed;
    width: 100%;
    transition: all 0.7s;
    z-index: 9;
    background-color: #212529;
    box-shadow: 5px 5px 2px #222221;
}

.header .wrap{
    width: 1140px;
    max-width: 100%;
    margin: auto;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
}

.header .logo{
    margin: 0;
    padding: 16px 0;

}

.header .logo a,
.header .logo a img{
    display: block;
    float: left;
    

}

.header .logo img{
    width: 50px;
    margin-right: 5px;
}

.header .menu ul{
    display: flex;

}

.header .menu li{
    padding: 16px;

}

.header .menu a{
    font-size: 1.2rem;
    color: white;
    padding: 8px;
    display: block;
    text-transform: uppercase;

}

.header .menu a:hover{
    color: #24cdd5;

}

/* SIDE BAR */
.header .sidemenu-toggler{
    position: absolute;
    width: 40px;
    padding: 6px;
    top: 23px;
    right: 40px;
}

.header .sidemenu-toggler > span{
    display: block;
    background-color: white ;
    height: 2px;
} 

.header .sidemenu-toggler > span:nth-child(2){
    margin: 4px 0 4px auto;
    width: 75%;
    transform: 0.3s all;

} 

.header .sidemenu-toggler > span:nth-child(3){
    margin-left: auto;
    width: 50%;
    transition: 0.6s all;
}

 .header .sidemenu-toggler:hover > span:nth-child(2),
.header .sidemenu-toggler:hover > span:nth-child(3){
    width: 100%;
}

.header .sidemenu{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    width: 50%;
    height: 100vh;
    z-index: 999;
    padding: 4rem;
    color: white;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.header .sidemenu.active{
    transform: translate3d(0,0,0);

}

.header .sidemenu .close{
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    right: 20px;
    top: 24px;
}

.header .sidemenu .close::before,
.header .sidemenu .close::after{
    content: "";
    position: absolute;
    top: 0;
    left: 13px;
    height: 28px;
    width: 2px;
    background: white;

}

.header .sidemenu .close::before{
    transform: rotate(45deg);
}

.header .sidemenu .close::after{
    transform: rotate(-45deg);
}

.header .sidemenu nav ul{
    padding: 30px;
}

.header .sidemenu nav li{
    padding: 15px 0;
}

.header .sidemenu nav a{
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
}

.header.sidemenu footer{
    padding-top: 100px;
    font-size: 0.9em;
    text-transform:  uppercase;
}

.header .sidemenu footer .social{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: white;
}

.header .sidemenu footer .social a{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s linear;
    margin-right: 5px;
    text-transform: uppercase;

}

@media (max-width:767px){
    .header .sidemenu{
        width: 100%;
    }
    .header .sidemenu nav a{
        font-size: 1rem;
    }
}

@media (min-width:768px) and (max-width:991px){
    .header .sidemenu{
        width: 70%;
    }
    .header .sidemenu nav a{
        font-size: 1.2rem;
    }
}


@media (max-width: 900px){
    .header .menu{
        display: none;
    }
}

/* navbar area*/

/* Home section area*/
.img-fluid{
    width: 400px;
}

.home{
    margin-top: 100px;
}

.hero-text{
    font-family: "Poppins",sans-serif;
}

.title{
    background-color: #0bceaf;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
    border-bottom-left-radius: 0px;
}

.name{
    font-size: 80px;
    letter-spacing: -1px;
}

.email{
    margin-top: 40px;
    font-family: "Poppins",sans-serif;
}

.social-icons li{
    list-style: none;
    margin-right: 30px;
    margin-top: 40px;
    font-size: 25px;
    cursor: pointer;
}

.hero-img{
    margin-left: 140px ;
    margin-top: -40px;

}

.hero-img img{
    margin: 0 auto;
    float: none;
    text-align: center;
    border: 20px solid rgba(0, 0, 0, 0.17) ;
    border-radius: 50%;

}

.img-border{
    height: 400px;
    width: 400px;
    border: 20px solid rgba(0,0,0,0.07);
    margin: 0 auto;
    border-radius: 50%;
}

::-webkit-scrollbar{
    width: 10px;

}

::-webkit-scrollbar-track{
    width: 10px;
    background: #212529;
    border-left: 0 solid white;
    border-right: 0 solid white;


}

::-webkit-scrollbar-thumb{
    background: #3bb78f;
    width: 0;
    height: 35%;
    transition: 0.5 ease;
    cursor: pointer;
}

.about{
    font-family: "poppins",sans-serif;
    font-size: 15px;

}

.gap{
    margin-left: 90px;
}

.tag ul li{
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block;

}

.tag ul li span{
    border: 1px solid #0bceaf;
    padding: 4px 10px;
    border-radius: 4px;
    

}

.tag ul li span:hover{
    background-color: transparent !important;
}

.tag ul li span a{
    text-decoration: none;
    color: #FFFFFF;
    display: inline;

}

.tag ul li span a:hover{
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
    width: 100px;
    border-radius: 4px;

}

.btn-danger{
    background-color: #24cdd5 ;
    color: white;
    padding:14px 20px;
    border:none;
    border-radius: 50px;


}
/* service */

.mh-service .mh-service-item{
    padding: 20px;
    border-radius: 4px;
    font-family: "Poppins" ,sans-serif;

}

.mh-service .mh-service-item .fa{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 16px;
}

.mh-service .mh-service-item .fa.purple-color{
    color: #9774fa;

}

.mh-service .mh-service-item .fa.iron-color{
    color: #ed7256;
    
}

.mh-service .mh-service-item .fa.sky-color{
    color: #2796e2;
    
}

.mh-service h3{
    font-family: "Poppins", sans-serif ;
    margin-bottom: 18px;
    font-size: 25px;
    line-height: 34px ;
}



/* Education */

.mh-experience h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: "Poppins",sans-serif;
    color: white;

}

.mh-experience .mh-education-details .mh-education-item{
    margin-bottom: 30px;
    padding: 26px 30px;
    border-radius: 4px;
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12) ;

}

.mh-experience .mh-education-details .mh-education-item:last-child{
    margin-bottom: 0;
}

.mh-education-item h4{
    font-size: 20px;
    line-height: 30px;
    font-weight:400px;
    font-family: "Poppins",sans-serif;
    color: white;

}


.mh-education-item .mh-eduyear{
    margin: 10px 0;
    color: #0bceaf !important;
    font-family: "Poppins",sans-serif;

}

.mh-education-item p{
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 0;
    font-family: "Poppins",sans-serif;
    color: white;

}

.mh-education{
    padding-right: 30px;
}

.mh-work{
    padding-left: 30px;

}

.mh-work h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: "Poppins", sans-serif;
    color: white;
}

.mh-work .mh-experience-details .mh-work-item{
    margin-bottom: 30px;
    padding: 20px 30px;
    border-radius: 4px;
    box-shadow: 0 25px 22px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mh-work .mh-experience-details .mh-work-item:last-child{
    margin-bottom: 0px;

}

.mh-work-item h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
    color: white;

}

.mh-work .mh-experience-details .mh-work-item .mh-eduyear{
    margin: 10px 0;
    color: #0bceaf;
    font-family: "Poppins",sans-serif;

}

.mh-work-item span{
    font-size: 12px;
    line-height: 22px;
    font-family: "Poppins",sans-serif;
    color: white;

}

.work-responsibility li{
    font-size: 14px;
    line-height: 23px;
    margin: 2px 0;
    font-family: "Poppins",sans-serif;
    color: white;
}

.work-responsibility li .fa{
    font-size: 10px;
    line-height: 23px;
    margin-right: 10px;
    font-family: "Poppins",sans-serif;
    color: white;
}

/* portofolio markup */

/*------- campus ------*/

.campus{
    font-family: "Poppins",sans-serif;
    color: white;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.campus-col{
    margin-left: 15px;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(167, 162, 162, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: floralwhite;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*------ facilities -------*/

.facilities{
    font-family: "Poppins",sans-serif;
    color: white;
    margin: auto;
    text-align: center;
    padding: 100px;
}
.facilities-col{
    
    flex-basis: 31%;
    margin-left: 15px;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.footer{
    text-align: center;
    width: 300px;
    background-color: white;

}

.footer-links {
    list-style-type: none;
    
}

@media (min-width:768px) and (max-width:991px) {
    .footer-links li {
        display: inline;    
    }

}

.last{
    background: #3bb78f;
    color:#ffffff;
    padding:25px;
    text-align:center;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    
 }

 .last a{
     color: white;
 }

 .last a:hover{
     color: black;
     text-decoration: none;
 }